# Large Model Weights (>100MB)
models/EyeXpert_ResNet18_best.pth
*.pt
*.onnx
*.bin

# Whitelist clean model state_dict for deployment (<50MB)
!models/EyeXpert_ResNet18_state_dict.pth

# Datasets and Large Raw Images
data/aptos/train_images/
data/aptos/test_images/
data/aptos/preprocessed_224/
data/raw/
data/processed/

# Zip Archives & Temp Files
*.zip
*.tar
*.gz
*.tmp

# Python & Environment
__pycache__/
*.pyc
*.pyo
.env
venv/
env/

# MATLAB temporary files
*.asv
*.slxc
slprj/
*.autosave

# OS specific
.DS_Store
Thumbs.db
